body
    position: relative
    
header
    height: 80px
    width: 100%
    position: fixed
    z-index: 10
    top: 0
    background-image: linear-gradient(to bottom right, grey, white)
    border-bottom: 0.5px solid grey
    nav
        margin: 0 auto
        width: 100%
        height: 80px
    .logo
        display: inline
        position: absolute
        left: 10%
        width: 102px
        height: 80px
        background-mage: red
        border: 1px solid #8b8b8b
        &__img
            display: block
            height: 100%
            cursor: pointer
            transition: 0.5s all
        ul
            margin: 0 auto
            position: relative     
    .navi
        margin: 0 auto
        height: 80px  
        .menu
            display: flex
            justify-content: center
            list-style-type: none
            margin: 0 0
            height: 40px
            &__item
                margin: 10px 20px
                
            &__link
                display: block
                text-decoration: none
                text-transform: uppercase
                font-size: 20px
                color: $main_color
                transition: 0.3s all
                &:hover
                    color: #e20404
        hr
            margin: 1px auto
            width: 500px
            height: 2px
            border-block-color: #fff

        .subheader
            width: 850px
            height: 40px
            margin: 0 auto
            padding-top: 1px
            &__wrapper
                display: flex
                justify-content: center
                font-size: 20px
                line-height: 23px
                text-align: center
                align-items: center
                div
                    margin: 0 20px
            &__email
                color: $main_color
                &_link
                    color:  $link_color
                    transition: 0.3s all
                    &:hover
                        color: #e00000      
            &__call
                color: $main_color
                &_tel
                    text-decoration: none
                    transition: 0.5s all
                    color: $link_color
                    &:hover
                        color: #e00000  
// .button
// .button    
//     .consult
//         display: flex
//         width: 230px    
//         height: 32px
//         font-size: 18px
//         padding: 0 0
//         justify-content: center
//         align-items: center
//         line-height: 15px
//         border-radius: 5px
//         border: 1.5px solid
//         background-color: #d0d0d0
//         transition: 0.5s all
//         box-shadow: 2px 2px 10px 1px #828282 
//         &:hover
//             background-color: #e00000
//             color: white
//             border: none
//             border: 1.5px solid black

                        

/* CSS */
.button-84
  align-items: center
  background-color: initial
  background-image: linear-gradient(#d9002f, #890000)
  //background-image: linear-gradient(#d9002f, #a70000)
  border-radius: 8px
  border-width: 0
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05)
  box-sizing: border-box
  color: #fff
  cursor: pointer
  display: inline-flex
  flex-direction: column
  font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
  font-size: 18px
  height: 35px
  justify-content: center
  line-height: 1
  margin: -2px
  outline: none
  overflow: hidden
  padding: 0 15px
  text-align: center
  text-decoration: none
  transform: translate3d(0, 0, 0)
  transition: all 150ms
  vertical-align: baseline
  white-space: nowrap
  user-select: none
  -webkit-user-select: none
  touch-action: manipulation


.button-84:hover 
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px
  opacity: .85


.button-84:active 
  outline: 0


.button-84:focus 
  box-shadow: #00000035 0 0 0 1px


@media (max-width: 420px) 
  .button-84 
    height: 48px

